@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background: linear-gradient(169deg, #101010, #3f3f3f);
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
}

#app {
  width: 96%;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  padding-right: 0 !important;
  margin-bottom: 40px;
}
header nav {
  width: 100%;
}
header nav ul {
  width: 70%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
header nav ul img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 8px 15px 5px 15px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #575757;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
  z-index: 1;
}
header nav ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 88%;
  margin-top: 5px;
  margin-left: 1px;
  border-top: 2px solid #202020;
  border-bottom: 2px solid #202020;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
header nav ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  border-radius: 4px;
}
header nav ul li a:hover {
  color: #e0e0e0;
}
header nav ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
header nav ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.home .presentation {
  position: relative;
  background: url(../img/presentation.png) center/cover;
  border-radius: 5px 5px 0 0;
  height: 300px;
}
.home .presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.349);
  border-radius: 5px 5px 0 0;
}
.home .presentation .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px 130px;
  width: 100%;
}
.home .presentation .title h1 {
  color: #070709;
  font-size: 3.5rem;
  font-family: "Oswald";
  font-weight: 300;
  margin: 0;
}
.home .presentation .title h1 span {
  font-weight: 600;
}
.home .presentation .title h2 {
  font-size: 1.8rem;
  font-family: "Playfair display";
  font-weight: 600;
  margin: 0;
  color: #651616;
  width: 100%;
  text-align: end;
}
.home .new-collection {
  padding: 20px;
  display: flex;
  border-left: 2px solid #555555;
  border-right: 2px solid #555555;
}
.home .new-collection img {
  width: 50%;
  background-position: center;
  background-size: contain;
}
.home .new-collection .collection-description {
  background-color: #070709;
  width: 50%;
  border-left: 5px solid #262626;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 200px 0 15px 0;
}
.home .new-collection .collection-description h3 {
  color: #fff;
  font-size: 2rem;
  font-family: "Oswald";
  font-weight: 500;
}
.home .new-collection .collection-description p {
  color: #a5a5a5;
  font-size: 1.4rem;
  font-family: "Roboto Slab";
  font-weight: 200;
  text-align: center;
}
.home .new-collection .collection-description .collection-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}
.home .new-collection .collection-description .collection-btn button {
  background: #651616;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.1rem;
  font-family: "Raleway";
  font-weight: 200;
  border-radius: 0;
  margin-right: 15px;
}

section h2 {
  text-align: center;
  color: #a5a5a5;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid #a5a5a5;
  width: 60%;
  margin: auto;
}
section .products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  flex-wrap: wrap;
  padding: 2rem 1rem;
}
section .products a {
  text-decoration: none;
  color: #616161;
}
section .products a .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  border-radius: 24px;
  background: linear-gradient(-195deg, #202020, #101010);
  box-shadow: 21px 21px 53px #070707, -21px -21px 53px #191919;
  padding: 0.9rem 0.8rem;
  margin-bottom: 30px;
  cursor: pointer;
  transition: transform 0.6s;
}
section .products a .product:hover {
  transform: scale(1.05);
}
section .products a .product:not(:hover) {
  transform: scale(1);
}
section .products a .product h3 {
  color: #500101;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
section .products a .product p {
  color: #797979;
  font-size: 0.7rem;
  margin-bottom: -4px;
}
section .products a .product .desc {
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 12px;
  margin-bottom: 8px;
  text-align: justify;
  font-style: italic;
}
section .products a .product .price {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
}
section .products a .product .quantity {
  display: none;
}
section .products a .product .rating {
  margin-top: 10px;
  display: flex;
}
section .products a .product .rating .star {
  width: 12px;
  height: 12px;
  color: #ff9e0c;
  cursor: pointer;
}
section .products a .product button {
  display: none;
}
section .products a .cheapest-product {
  position: relative;
  border: 2px solid green;
}
section .products a .cheapest-product:before {
  content: "Le moins cher";
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 0.5rem;
  color: green;
  font-weight: 700;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}
.register h2 {
  text-align: center;
  color: #a5a5a5;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid #a5a5a5;
  width: 60%;
  margin: auto;
}
.register form {
  width: 90%;
}
.register form .input-box {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 30px 0;
}
.register form .input-box input {
  width: 45%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.register form .input-box input::-moz-placeholder {
  color: #858585;
}
.register form .input-box input::placeholder {
  color: #858585;
}
.register form .input-box input:focus {
  outline: 2px solid #790606;
  outline-offset: -3px;
  background: rgba(121, 6, 6, 0.4862745098);
  border: 1px solid black;
}
.register form .input-box .select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #9c9c9c;
}
.register form .input-box .select #question {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.register form .input-box .select #question::-moz-placeholder {
  color: #858585;
}
.register form .input-box .select #question::placeholder {
  color: #858585;
}
.register form .input-box .select #question:focus {
  outline: 2px solid #790606;
  outline-offset: -3px;
  background: rgba(121, 6, 6, 0.4862745098);
  border: 1px solid black;
}
.register form .input-box .checkVue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #9c9c9c;
}
.register form .input-box .checkVue input[type=checkbox] {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.register form textarea {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
  resize: none;
}
.register form textarea::-moz-placeholder {
  color: #858585;
}
.register form textarea::placeholder {
  color: #858585;
}
.register form textarea:focus {
  outline: 2px solid #790606;
  outline-offset: -3px;
  background: rgba(121, 6, 6, 0.4862745098);
  border: 1px solid black;
}
.register form .btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: linear-gradient(-195deg, #202020, #101010);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #6b6b6b;
  cursor: pointer;
  font-size: 16px;
  transition: 0.8s;
}
.register form .btn:hover {
  background: linear-gradient(240deg, #202020, #101010);
  color: #fff;
}
.register .modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.register .modal p {
  color: #000;
  font-size: 1.2rem;
  text-align: center;
}
.register .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.register .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.register .close:hover,
.register .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.similar-group h3 {
  text-align: center;
  color: #a5a5a5;
  font-size: 1.1rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid #a5a5a5;
  margin: auto;
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.similar-group .similar-link {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.similar-group .similar-link a {
  text-decoration: none;
}
.similar-group .similar-link a .product {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  border-radius: 24px;
  background: linear-gradient(-195deg, #202020, #101010);
  box-shadow: 21px 21px 45px #070707, -21px -21px 45px #191919;
  padding: 0.9rem 0.5rem;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 1s;
}
.similar-group .similar-link a .product:hover {
  background: linear-gradient(195deg, #202020, #101010);
}
.similar-group .similar-link a .product button {
  display: none;
}
.similar-group .similar-link a .product h3 {
  text-align: center;
  color: #7a7a7a;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  width: 60%;
  margin: auto;
  line-height: 40px;
  margin-bottom: 18px;
}
.similar-group .similar-link a .product .desc {
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 12px;
  margin: auto auto 8px auto;
  text-align: justify;
  font-style: italic;
  color: #6b6b6b;
  width: 80%;
}
.similar-group .similar-link a .product .price {
  font-size: 0.8rem;
  font-weight: 600;
  color: #6b6b6b;
}
.similar-group .similar-link a .product .quantity {
  display: none;
}
.similar-group .similar-link a .product .rating {
  margin-top: 0;
}
.similar-group .similar-link a .product .rating .star {
  height: 10px;
  width: 10px;
}

.product-info {
  flex: 1;
}
.product-info h3 {
  text-align: center;
  color: #630000;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  width: 60%;
  margin: auto;
  line-height: 40px;
  margin-bottom: 18px;
}
.product-info h4 {
  text-align: center;
  color: #a5a5a5;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  width: 60%;
  margin: auto;
  line-height: 40px;
  margin: 30px auto;
  border-bottom: 1px solid #a5a5a5;
}
.product-info .product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 0.9rem 0.5rem;
  margin-bottom: 30px;
  width: 60%;
  text-align: justify;
  margin: auto;
}
.product-info .product button {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: linear-gradient(-195deg, #202020, #101010);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #6b6b6b;
  cursor: pointer;
  font-size: 16px;
  transition: 0.8s;
  margin-top: 20px;
}
.product-info .product button:hover {
  background: linear-gradient(240deg, #202020, #101010);
  color: #fff;
}
.product-info .product div {
  width: 100%;
}
.product-info .product div .desc,
.product-info .product div .price,
.product-info .product div .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
}
.product-info .product div .price {
  font-weight: 600;
  font-size: 1.1rem;
}
.product-info .rating {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}
.product-info .rating .star {
  width: 20px;
  height: 20px;
  color: #ff9e0c;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  flex: 1;
}
.contact h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  margin-bottom: 10px;
}
.contact p {
  color: #a5a5a5;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  margin-bottom: 30px;
}
.contact a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
  margin-bottom: 30px;
}

.cart {
  flex: 1;
}
.cart .cart-lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.cart .cart-lines .line {
  display: flex;
  justify-content: space-between;
}
.cart .cart-lines .quantity input {
  width: 50px;
  height: 30px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #fff;
}
.cart .cart-lines .quantity button {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  background: linear-gradient(-195deg, #202020, #101010);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #6b6b6b;
  cursor: pointer;
  font-size: 20px;
  transition: 0.8s;
}
.cart .cart-lines .quantity button:hover {
  background: linear-gradient(240deg, #202020, #101010);
  color: #fff;
}
.cart .cart-lines box-icon {
  cursor: pointer;
}

footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
  color: #464646;
  margin: 25px 0 10px 0;
  border-top: 1px solid #3f3f3f;
  padding-top: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.confirmation {
  position: absolute;
  top: 300px;
  left: 163px;
  font-size: 0.7rem;
  color: #686868;
}/*# sourceMappingURL=main.css.map */